.WJbottom {
  padding: 20px 10px 0 20px;

  @include body-font;

  font-size: 22px;
  font-weight: 400;
}

.eventDescriptionText {
  font-size: 11pt;
  font-weight: 200;
  word-wrap: break-word;
  line-height: 100%;
}
