.footer {
  background-color: #0b4f6c;
  min-height: 200px;
  position: relative;
}

.logos {
  width: 600px;
  min-height: 30px;
}

.addressBlock {
  padding-right: 150px;

  @media screen and (max-width: 1080px) {
    padding-right: 50px;
  }
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#ixnLogo {
  background-image: url(../images/footer-images/IXNLOGOMENU.png);
  height: 48.1px;
}

#uclEngLogo {
  background-image: url(../images/footer-images/UCL-Engineering-Logo.png);
  height: 50px;
}

#uclLogo {
  background-image: url(../images/footer-images/UCL-Logo.png);
  height: 48px;
}

#logoRow {
  padding: 30px;
  background-color: $theme-primary;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}

.space {
  background-color: $theme-primary;
}

@media screen and (max-width: 992px) {
  .logos {
    width: 100%;
  }

  .addressBlock {
    width: 100%;
    padding-right: 0;
  }

  .address {
    width: 100%;
  }

  .space {
    visibility: hidden;
  }
}

#addressText {
  background-color: $theme-primary;
  color: #fff;
  text-align: center;
  font-size: 19px;
}

.topcontainer {
  width: 100%;
  height: 10px;
  background-color: $theme-dark;
}

#fa-footer {
  font-size: 23px;
  color: white;

  &:hover {
    text-decoration: none;
    color: $theme-tertiary;
  }
}

#footerPage {
  margin-bottom: 0;
}
