.page-heading-top {
  height: 140px;
  background-color: #0b4f6c;
  padding-top: 82px;
  padding-right: 10%;
  text-align: right;
}

.page-heading-bottom {
  height: 5px;
  background-color: #022b3a;
}

.page-heading-title {
  color: #022b3a;
  font-family: Lato;
  font-size: 50pt;
  font-weight: 500;
}
