/*
Main Theme Colours
 */
$theme-primary: #0b4f6c;
$theme-secondary: #083d77;
$theme-tertiary: #b80c09;
$theme-dark: #022b3a;
$theme-light: #f7f7ef;
$theme-white: #fff;
$theme-offwhite: #ece5e6;

/*
Grey Theme Colours
 */
$gray-base: #000;
$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;

$brand-twitter: #1da1f2;
$brand-facebook: #3b5998;
$brand-google-plus: #dd4b39;

/*
 Breakpoints
 */
$smallPort: 320px;
$smallLand: 480px;
$ipadPort: 768px;
$ipadLand: 1025px;
$largeLand: 1824px;
