.events-post-group {
  @media screen and (max-width: 992px) {
    margin-left: 0;
    padding-left: 20%;
    padding-right: 20%;
  }

  @media screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.eventsbutton {
  margin-left: 90%;
  margin-bottom: 5px;
}

.events-home-box {
  margin-top: 2%;
  padding: 0;
  border-right: 15px solid transparent;

  @media screen and (max-width: 992px) {
    padding-left: 15px;
  }
}

.events-content {
  transition: -webkit-transform 300ms, box-shadow 300ms, opacity 300ms;

  &:hover {
    transform: translateY(-6px);
    box-shadow: rgba(0, 0, 0, 0.298039) 10px 10px 10px 0;
  }
}

.events-home-top {
  position: relative;
  height: 210px;
  background-color: #f4f4e7;
  padding: 3%;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background: $theme-dark;
    background: radial-gradient(circle at top, #fff, $theme-dark);
  }
}

.eventHomeName {
  font-size: 30pt;
  font-weight: 600;
  color: $theme-white;
  position: absolute;
  bottom: 10px;
  line-height: normal;
}

.events-home-bottom {
  height: 170px;

  @media screen and (max-width: 992px) {
    height: auto;
  }

  background-color: $theme-light;
  background-repeat: no-repeat;
  padding: 10px;

  .fieldCol {
    font-style: italic;
    color: $theme-primary;
    padding-right: 10px;
  }

  .valueCol {
    color: $theme-dark;
    font-weight: 600;
  }
}

#eventBox1 {
  margin-top: -60px;

  @media screen and (max-width: 992px) {
    margin-top: 0;
  }
}

.events-home-text {
  font-size: 20px;
  margin-bottom: 15px;
}

#eventPageContent {
  height: auto;
}
